# Node modülleri, build cache vb. paketleri kopyalamamak için
node_modules

# NPM debug log dosyaları
npm-debug.log
*.log

# Git dizini
.git

# Ortam değişkeni dosyası (Docker Compose env_file ile geçirilecek)
.env

# Diğer isterseniz ekleyebileceğiniz geçici/IDE dosyaları
.vscode/
*.swp

